@{
    ViewBag.Title = "Front page";
}

<h2>Calculator</h2>

<form method="post" action="@Url.Action("Calculate")">
    <input type="text" name="numberInput" placeholder="Enter numbers, e.g., 1,2,3" />
    <input type="submit" name="operation" value="Add" />
    <input type="submit" name="operation" value="Sub" />
</form>

@if (ViewBag.Error != null)
{
    <p>@ViewBag.Error</p>
}

@if (ViewBag.Result != null)
{
    <p>Result: @ViewBag.Result</p>
    if (ViewBag.ResultComment == "Data successfully added to the database.") //Added to DB
    {
        <p style="color: green;">@ViewBag.ResultComment</p>
    }
    else // Failed to insert data into DB
    {
        <p style="color: red;">@ViewBag.ResultComment</p>

    }
}
<br />
<br />


@if (ViewBag.ResultData != null)
{
    <h3>History data "ADD"-operation:</h3>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
    <table>
        <thead>
            <tr>
                <th>List of numbers</th>
                <th>Operation</th>
                <th>Result</th>
                <th>Time</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var record in ViewBag.ResultData)
            {
                if (record.Value.Operation == "Add")
                {
                    <tr>
                        <td>@string.Join(", ", record.Value.ListOfNumbers)</td>
                        <td>+</td>
                        <td>@record.Value.Result</td>
                        <td>@record.Value.Time</td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <br />
    <br />
    <h3>History data "Sub"-operation:</h3>
    <table>
        <thead>
            <tr>
                <th>List of numbers</th>
                <th>Operation</th>
                <th>Result</th>
                <th>Time</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var record in ViewBag.ResultData)
            {
                if (record.Value.Operation == "Sub")
                {
                    <tr>
                        <td>@string.Join(", ", record.Value.ListOfNumbers)</td>
                        <td>-</td>
                        <td>@record.Value.Result</td>
                        <td>@record.Value.Time</td>
                    </tr>
                }
            }
        </tbody>
    </table>

}